<p id="notice">
	<%= notice %>
</p>
<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Description</th>
   
  </tr>

  <tr>
    <td><%= @page.title %></td>
    <td><%= @page.url %></td>
    <td><%= @page.description %></td>
    
  </tr>

</table>
<br />
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
