.form
  = form_for @category,:validate=>true do |f|
    -if @category.errors.any?
      #error_explanation
        %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
        %ul
          - @category.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :name,"List Name"
      = f.text_field :name
    .actions
      = f.submit 'Save'
